body {
    margin: 0;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 330px;
    padding: 20px;
    border-radius: 30px;
    background: #000;
    box-shadow: 0 0 0 2px #1f1f1f;
}

#display {
    width: 100%;
    height: 90px;
    background: black;
    color: white;
    font-size: 42px;
    border: none;
    outline: none;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}

.btn {
    height: 65px;
    border-radius: 50%;
    border: none;
    font-size: 22px;
    background: #2b2b2b;
    color: white;
    cursor: pointer;
}

.gray {
    background: #b5b5b5;
    color: black;
}

.operator {
    background: #3a3a3a;
}

.equal {
    background: #ff9500;
    color: white;
}

.zero {
    grid-column: span 1;
    border-radius: 35px;
}

.btn:active {
    transform: scale(0.94);
    opacity: 0.8;
}