.login .box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 40px;
    border: 2px solid #007bff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
}

.login .box .header .title {
    text-align: center;
}

.login .box .content form {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
}

.login .box .content form div {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}

.login .box .content form div label {
    font-weight: bold;
}

.login .box .content form div input[type="email"],
.login .box .content form div input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1em;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.login .box .content form input[type="submit"] {
    width: 100%;
    color: #fff;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 0.75rem;
    transition: all 0.3s;
    border-radius: 0.5rem;
    background-color: #007bff;
}

.login .box .content form input[type="submit"]:hover {
    background-color: #0056b3;
}